node_modules/
.git/
.vscode/
coverage/
public/uploaded
.dockerignore
Dockerfile

.gitignore
.env
.eslintrc
.editorconfig
.gitlab-ci.yml
.env.local
.env.example
## electron desktop app released version
electron-released-version