# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self


stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        dockerfile: './Dockerfile'
        tags: |
          arfxhome/backend-service:latest

- stage: Push
  displayName: Push image to DockerHub
  jobs:
  - job: Push
    displayName: 'Push the Docker image to Dockerhub'
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Push an image to docker hub
      inputs:
        containerregistrytype: 'Container Registry'
        dockerRegistryEndpoint: 'Docker Hub'
        command: 'Push'
        imageName: arfxhome/backend-service:latest
      condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest')) 
